In [2]:
import pandas as pd
import sqlalchemy 
import sql_functions as sf

In [3]:
import matplotlib.pyplot as plt

In [223]:
# load jobs data

schema = 'capstone_datacvpro'

jobs_20 = sf.get_dataframe(f' SELECT * FROM {schema}.analysts_20')
display(jobs_20)

,job_title,salary_estimate,job_description,company_name,location,industry
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",Social Assistance
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",Health Care Services & Hospitals
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",Internet
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",IT Services
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",Sports & Recreation
...,...,...,...,...,...,...
2248,RQS - IHHA - 201900004460 -1q Data Security An...,$78K-$104K (Glassdoor est.),Maintains systems to protect data from unautho...,"Avacend, Inc.\n2.5","Denver, CO",Staffing & Outsourcing
2249,Senior Data Analyst (Corporate Audit),$78K-$104K (Glassdoor est.),Position:\nSenior Data Analyst (Corporate Audi...,Arrow Electronics\n2.9,"Centennial, CO",Wholesale
2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",Spiceorb,"Denver, CO",-1
2251,"Data Analyst 3, Customer Experience",$78K-$104K (Glassdoor est.),Summary\n\nResponsible for working cross-funct...,Contingent Network Services\n3.1,"Centennial, CO",Enterprise Software & Network Solutions
2252,Senior Quality Data Analyst,$78K-$104K (Glassdoor est.),"You.\n\nYou bring your body, mind, heart and s...",SCL Health\n3.4,"Broomfield, CO",Health Care Services & Hospitals

In [225]:
import re
import nltk
import spacy

In [226]:
# Steps in NLP:

# Tokenizing: split text by word/ sentence 
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize

# Stop Words: filter out word that are not needed for context (in, is, and,...)
nltk.download("stopwords")
from nltk.corpus import stopwords

# Stemming: reduce words to their root
from nltk.stem import PorterStemmer
from nltk.tokenize import word_tokenize

# Tagging Parts of Speech: labeling words (noun, pronoun, verb,..)

# Lemmatizing: reduce word to their core meaning
from nltk.stem import WordNetLemmatizer

# Chunking: identify phrases ,word need to be tagged before chunking
from nltk.tokenize import word_tokenize

# Named Entity Recognition: identify named entities, eg. locations, people, organizations,..

[nltk_data] Downloading package punkt to /Users/kgolzev/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/kgolzev/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [227]:
# count words in description column

def count_words(text):
    words = word_tokenize(text)
    return len(words)

jobs_20['desc_words'] = jobs_20['job_description'].apply(count_words)

In [228]:
# count sentences

def count_sent(text):
    sent = sent_tokenize(text)
    return len(sent)

jobs_20['desc_sent'] = jobs_20['job_description'].apply(count_sent)

In [229]:
jobs_20.head()

,job_title,salary_estimate,job_description,company_name,location,industry,desc_words,desc_sent
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",Social Assistance,1162,48
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",Health Care Services & Hospitals,709,48
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",Internet,802,24
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",IT Services,888,28
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",Sports & Recreation,573,13

In [230]:
jobs_20.describe()

        desc_words   desc_sent
count  2253.000000  2253.00000
mean    504.766534    17.01154
std     302.406759    13.24425
min       3.000000     1.00000
25%     287.000000     7.00000
50%     462.000000    14.00000
75%     666.000000    23.00000
max    3094.000000   106.00000

In [17]:
# remove stopwords & convert to lower case

def no_stopwords(text):
    words = word_tokenize(text)
    stop_words = set(stopwords.words("english"))
    word_list = []
    for word in words:
        if word.lower() not in stop_words and word.isalpha():   # isalpha checks if characters are alphabetic letters
            word_list.append(word.lower())
    return(word_list)

jobs_20['desc_cleaned'] = jobs_20['job_description'].apply(no_stopwords)

In [12]:
# do not use, gives back high count of words
# remove stopwords and not create list 

def no_stopwords(text):
    words = word_tokenize(text)
    stop_words = set(stopwords.words("english"))
    clean = ' '.join([word for word in words if word not in (stop_words)])
    return(clean)

jobs_20['desc_cleaned'] = jobs_20['job_description'].apply(no_stopwords)

In [18]:
jobs_20.head()

,job_title,salary_estimate,job_description,company_name,location,industry,desc_words,desc_sent,desc_cleaned,desc_words_clean
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",Social Assistance,1162,48,"[eager, roll, sleeves, harness, data, drive, p...",5899
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",Health Care Services & Hospitals,709,48,"[overview, provides, analytical, technical, su...",4200
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",Internet,802,24,"[looking, senior, data, analyst, love, mentors...",3767
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",IT Services,888,28,"[requisition, remote, yes, collaborate, create...",4458
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",Sports & Recreation,573,13,"[fanduel, group, fanduel, group, team, brands,...",2771

In [19]:
# count words in cleaned description

def count_words_list(list):
    return len(list)

jobs_20['desc_words_clean'] = jobs_20['desc_cleaned'].apply(count_words_list)

In [20]:
jobs_20.head()

,job_title,salary_estimate,job_description,company_name,location,industry,desc_words,desc_sent,desc_cleaned,desc_words_clean
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",Social Assistance,1162,48,"[eager, roll, sleeves, harness, data, drive, p...",630
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",Health Care Services & Hospitals,709,48,"[overview, provides, analytical, technical, su...",422
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",Internet,802,24,"[looking, senior, data, analyst, love, mentors...",402
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",IT Services,888,28,"[requisition, remote, yes, collaborate, create...",459
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",Sports & Recreation,573,13,"[fanduel, group, fanduel, group, team, brands,...",312

In [21]:
jobs_20.describe()

        desc_words    desc_sent  desc_words_clean
count  6162.000000  6162.000000       6162.000000
mean    552.812074    18.711782        308.648815
std     321.742581    13.699206        173.846100
min       3.000000     1.000000          3.000000
25%     320.000000     9.000000        182.000000
50%     510.000000    16.000000        287.000000
75%     726.000000    26.000000        400.000000
max    3420.000000   106.000000       1711.000000

In [22]:
# count occurence of words & show top 5

from collections import Counter

def counter(words):
    return Counter(words).most_common(5)

jobs_20['word_counts'] = jobs_20['desc_cleaned'].apply(counter)

In [23]:
jobs_20.head()

,job_title,salary_estimate,job_description,company_name,location,industry,desc_words,desc_sent,desc_cleaned,desc_words_clean,word_counts
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",Social Assistance,1162,48,"[eager, roll, sleeves, harness, data, drive, p...",630,"[(data, 19), (justice, 11), (vera, 9), (workin..."
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",Health Care Services & Hospitals,709,48,"[overview, provides, analytical, technical, su...",422,"[(data, 18), (quality, 13), (required, 9), (ma..."
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",Internet,802,24,"[looking, senior, data, analyst, love, mentors...",402,"[(data, 14), (team, 12), (insights, 8), (custo..."
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",IT Services,888,28,"[requisition, remote, yes, collaborate, create...",459,"[(business, 11), (celerity, 11), (data, 10), (..."
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",Sports & Recreation,573,13,"[fanduel, group, fanduel, group, team, brands,...",312,"[(fanduel, 10), (team, 6), (reporting, 5), (da..."

In [24]:
# count the most occuring words in cleaned description column

# combine the list in desc_cleaned of each row into one list
all_words = [word for sublist in jobs_20['desc_cleaned'] for word in sublist]

# Count the occurrences of each word
word_counts = Counter(all_words)

# Get the most common tokens
most_common_words = word_counts.most_common(30)

# Print the most common tokens
for word, count in most_common_words:
    print(f'{word}: {count}')

data: 58911
experience: 29776
business: 16561
work: 15186
skills: 11409
team: 11053
analysis: 9084
years: 9051
ability: 8654
development: 8030
management: 7628
knowledge: 7464
analytics: 7064
job: 7053
required: 6958
information: 6944
science: 6900
strong: 6793
support: 6644
working: 6526
including: 6426
solutions: 6336
requirements: 6308
new: 6161
technical: 5965
tools: 5695
research: 5602
systems: 5591
sql: 5251
design: 5240

In [39]:
### NOT WORKING ###

nlp = spacy.load("en_core_web_sm")

#function to extract skills using spacy
def extract_skills(text):
    doc = nlp(text)
    skills = [ent.text.lower() for ent in doc.ents if ent.label_ == "SKILL"]
    return list(set(skills))

# Apply the function to create a new column
jobs_20['extracted_skills'] = jobs_20['job_description'].apply(extract_skills)

KeyboardInterrupt:

In [188]:
# check for predefined list of skills

from spacy.matcher import PhraseMatcher

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Define a list of skills
skills_list = ["python", "java", "machine learning", "data analysis", "communication", "teamwork"]  # add desired skills

# Initialize phrase matcher
matcher = PhraseMatcher(nlp.vocab)
patterns = [nlp(skill) for skill in skills_list]
matcher.add("SKILLS", None, *patterns)

# Function to extract skills using spaCy and predefined list
def extract_skills_predefined(text):
    doc = nlp(text)
    matches = matcher(doc)
    skills = [doc[start:end].text for match_id, start, end in matches]
    return skills

# Assuming you have a DataFrame named 'jobs_20' with a column 'job_descriptions'
jobs_20['skills_predefined'] = jobs_20['job_description'].apply(extract_skills_predefined)

In [26]:
# use spaCy 

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Function to extract skills using spaCy
def extract_skills_spacy(text):
    doc = nlp(text)
    skills = []
    for token in doc:
        if token.pos_ == "NOUN" and token.dep_ == "compound":
            skills.append(token.text)
    return skills

jobs_20['skills_spacy'] = jobs_20['job_description'].apply(extract_skills_spacy)

KeyboardInterrupt:

In [27]:
# extract named entities (people, organizations, locations,..)

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Function to extract named entities
def extract_named_entities(text):
    doc = nlp(text)
    named_entities = [(ent.text, ent.label_) for ent in doc.ents]
    return named_entities
# Apply the function to the entire DataFrame
jobs_20['named_entities'] = jobs_20['job_description'].apply(extract_named_entities)

In [30]:
# count most occuring entities

# combine the list in desc_cleaned of each row into one list
all_entities = [entity for sublist in jobs_20['named_entities'] for entity in sublist]

# Count the occurrences of each entity
entity_counts = Counter(all_entities)

# Get the most common entities
most_common_entities = entity_counts.most_common(50)

# Print the most common entities
for entity, count in most_common_entities:
    print(f'{entity}: {count}')

('SQL', 'ORG'): 3064
('Tableau', 'GPE'): 1410
('Excel', 'PRODUCT'): 1354
('one', 'CARDINAL'): 1345
('ETL', 'ORG'): 1144
('Bachelor', 'ORG'): 1131
('SAS', 'ORG'): 931
('US', 'GPE'): 894
('Develop', 'ORG'): 795
('Java', 'PERSON'): 712
('5+ years', 'DATE'): 706
('Hadoop', 'ORG'): 703
('PhD', 'WORK_OF_ART'): 679
('2+ years', 'DATE'): 675
('3+ years', 'DATE'): 656
('Microsoft', 'ORG'): 655
('ML', 'ORG'): 640
('U.S.', 'GPE'): 635
('Spark', 'GPE'): 583
('first', 'ORDINAL'): 575
('IBM', 'ORG'): 565
('BI', 'ORG'): 550
('TX', 'ORG'): 548
('AI', 'ORG'): 536
('Identify', 'ORG'): 526
('Strong', 'PERSON'): 490
('the United States', 'GPE'): 466
('SQL', 'PERSON'): 452
('Build', 'GPE'): 444
('Data Science', 'ORG'): 433
('AWS', 'ORG'): 416
('3', 'CARDINAL'): 410
('Python', 'GPE'): 402
('2', 'CARDINAL'): 395
('daily', 'DATE'): 394
('1', 'CARDINAL'): 389
('Job Description', 'PERSON'): 386
('Data Analyst', 'ORG'): 380
('Data Scientist', 'ORG'): 367
('3 years', 'DATE'): 361
('Big Data', 'ORG'): 350
('Chicago', 'GPE'): 341
('monthly', 'DATE'): 340
('English', 'LANGUAGE'): 338
('today', 'DATE'): 333
('Power BI', 'ORG'): 333
('Kafka', 'PERSON'): 330
('PowerPoint', 'ORG'): 321
('Texas', 'GPE'): 318
('4+ years', 'DATE'): 317

In [226]:
# count unique types of entities

# Initialize a dictionary to count the occurrences of each named entity type
entity_types_count = {}

# Iterate over the named entities found in each row and count the occurrences of each type
for entities in jobs_20['named_entities']:
    for entity in entities:
        entity_type = entity[1]  # Extract the entity type
        if entity_type in entity_types_count:
            entity_types_count[entity_type] += 1
        else:
            entity_types_count[entity_type] = 1
# Display the count of occurrences for each named entity type
for entity_type, count in entity_types_count.items():
    print(f"{entity_type}: {count}")

ORG: 93212
DATE: 17399
CARDINAL: 11660
PRODUCT: 7553
GPE: 20920
PERSON: 19058
WORK_OF_ART: 4420
LOC: 1858
MONEY: 1348
NORP: 3060
LANGUAGE: 381
QUANTITY: 224
PERCENT: 1357
ORDINAL: 1267
LAW: 456
TIME: 981
FAC: 1236
EVENT: 243

In [40]:
# count top required skills for a sanity check

#starting tokenization
skills_list = ["python", "sql", "tableau", "bi tool", "power bi", "aws", "azure", "excel", "powerpoint", "machine learning", "ai", "java", "c++"]  # start with these two skills

# create new columns for each skill
for skill in skills_list:
    jobs_20[skill] = jobs_20['job_description'].apply(lambda x: 1 if skill.lower() in x.lower() else 0)

jobs_20.head()

,job_title,salary_estimate,job_description,company_name,location,industry,desc_words,desc_sent,desc_cleaned,desc_words_clean,...,bi tool,power bi,aws,azure,excel,powerpoint,machine learning,ai,java,c++
0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,Vera Institute of Justice\n3.2,"New York, NY",Social Assistance,1162,48,"[eager, roll, sleeves, harness, data, drive, p...",630,...,0,0,1,0,0,0,0,1,0,0
1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,Visiting Nurse Service of New York\n3.8,"New York, NY",Health Care Services & Hospitals,709,48,"[overview, provides, analytical, technical, su...",422,...,0,0,0,0,1,1,0,1,0,0
2,"Senior Data Analyst, Insights & Analytics Team...",$37K-$66K (Glassdoor est.),We’re looking for a Senior Data Analyst who ha...,Squarespace\n3.4,"New York, NY",Internet,802,24,"[looking, senior, data, analyst, love, mentors...",402,...,1,0,0,0,1,0,0,1,0,0
3,Data Analyst,$37K-$66K (Glassdoor est.),Requisition NumberRR-0001939\nRemote:Yes\nWe c...,Celerity\n4.1,"New York, NY",IT Services,888,28,"[requisition, remote, yes, collaborate, create...",459,...,0,0,1,0,0,0,0,1,0,0
4,Reporting Data Analyst,$37K-$66K (Glassdoor est.),ABOUT FANDUEL GROUP\n\nFanDuel Group is a worl...,FanDuel\n3.9,"New York, NY",Sports & Recreation,573,13,"[fanduel, group, fanduel, group, team, brands,...",312,...,0,0,0,0,1,0,0,1,0,0

In [41]:
# count rows with defined skills

jobs_20[["python", "sql", "tableau", "bi tool", "power bi", "aws", "azure", "excel", "powerpoint", "machine learning", "ai", "java", "c++"]].sum(axis=0).sort_values(ascending=False)

ai                  5492
sql                 3411
excel               3209
python              2694
machine learning    1497
tableau             1293
aws                 1224
java                 996
powerpoint           394
power bi             382
azure                368
c++                  358
bi tool              203
dtype: int64

In [ ]:
# hinzufügrn prozentual

In [42]:
jobs_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_title         6162 non-null   object
 1   salary_estimate   6162 non-null   object
 2   job_description   6162 non-null   object
 3   company_name      6161 non-null   object
 4   location          6162 non-null   object
 5   industry          6162 non-null   object
 6   desc_words        6162 non-null   int64
 7   desc_sent         6162 non-null   int64
 8   desc_cleaned      6162 non-null   object
 9   desc_words_clean  6162 non-null   int64
 10  word_counts       6162 non-null   object
 11  named_entities    6162 non-null   object
 12  python            6162 non-null   int64
 13  sql               6162 non-null   int64
 14  tableau           6162 non-null   int64
 15  bi tool           6162 non-null   int64
 16  power bi          6162 non-null   int64
 17  aws               6162 non-null   int64
 18  azure             6162 non-null   int64
 19  excel             6162 non-null   int64
 20  powerpoint        6162 non-null   int64
 21  machine learning  6162 non-null   int64
 22  ai                6162 non-null   int64
 23  java              6162 non-null   int64
 24  c++               6162 non-null   int64
dtypes: int64(16), object(9)
memory usage: 1.2+ MB

In [43]:
jobs_20["combined_bi"] = jobs_20["bi tool"] +  jobs_20["power bi"]
jobs_20[["python", "sql", "tableau", "aws", "azure", "excel", "powerpoint", "combined_bi"]].sum(axis=0).sort_values(ascending = False)

sql            3411
excel          3209
python         2694
tableau        1293
aws            1224
combined_bi     585
powerpoint      394
azure           368
dtype: int64

In [16]:
# skill extraction with skillNer

import en_core_web_lg
from spacy.matcher import PhraseMatcher

# import skill extractor
from skillNer.skill_extractor_class import SkillExtractor
from skillNer.general_params import SKILL_DB

# init params of skill extractor
nlp = en_core_web_lg.load()
# init skill extractor
skill_extractor = SkillExtractor(nlp, SKILL_DB, PhraseMatcher)

loading full_matcher ...
loading abv_matcher ...
loading full_uni_matcher ...
loading low_form_matcher ...
loading token_matcher ...

In [34]:
# extracting skills from job description - will return nested dict (see NLP_skillNer_example)

def skills(text):
    skills_ex = skill_extractor.annotate(text)
    return(skills_ex)

# apply to column
jobs_20['skills_ex'] = jobs_20['job_description'].apply(skills)

# ’ causes error and needs to be replace

/opt/homebrew/Caskroom/miniconda/base/envs/nf_base_capstone/lib/python3.9/site-packages/skillNer/utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)

IndexError: list index out of range

In [93]:
# replace ’
jobs_20['job_description_mod'] = jobs_20['job_description'].str.replace("’"," ")

In [196]:
jobs_20['job_description_mod'][238][710:720]

'r TR&S.\n• '

In [190]:
jobs_20['job_description_mod'][238][1320:1330]

'industry'

In [210]:
len(jobs_20['job_description_mod'][238])

1328

In [222]:
print(jobs_20['job_description_mod'][238][0:1328])

Job Description
Qualifications/Requirements • Associates Degree with two years of experience from an accredited college or university (OR a High School Diploma / GED from an accredited school or institution with a minimum 5+ years of experience)
• Must have strong computer skills, including data management and application software skills (Microsoft Office – Excel, PPT, Word, and Access).
• Programming skills a plus.
• Desired to have a working knowledge of global environmental and regulatory compliance initiatives including RoHS, REACH, WEEE, Battery registrations, and take back programs.
• Desired to have a working knowledge of Engineering change process and MRP systems (SAP, EHSM, and GTS) module for TR&S.
• Strong interpersonal and written & verbal communication skills.
• Strong organizational and leadership skills.
• Project Management Skills.
• Team player with a global perspective
• Self-motivated, must be able to multi-task in a dynamic environment and handle pressure from project schedule and technical challenge.

• Meticulous attention to detail.
Desired Characteristics
• Significant environmental compliance and regulatory experience (WEEE, REACH & RoHS)
• Familiarity with Conflict Minerals legislation.
• Experience with GE Inspection Technologies products, or experience in the Oil and Gas industry

In [220]:
skill_extractor.annotate(jobs_20['job_description_mod'][238][500:1328])

IndexError: list index out of range

In [115]:
# run above code again

def skills(text):
    skills_ex = skill_extractor.annotate(text)
    return(skills_ex)

# apply to column
jobs_20['skills_ex'] = jobs_20['job_description'].apply(skills)

/opt/homebrew/Caskroom/miniconda/base/envs/nf_base_capstone/lib/python3.9/site-packages/skillNer/utils.py:99: UserWarning: [W008] Evaluating Token.similarity based on empty vectors.
  vec_similarity = token1.similarity(token2)

IndexError: list index out of range

In [ ]:
# extract only skill values
doc_node_values = [item['doc_node_value'] for item in skills_ex['results']['full_matches']]   # item returns a list of tuples with the key, value pairs
doc_node_values.extend([item['doc_node_value'] for item in skills_ex['results']['ngram_scored']]) # extend concatenates a list with another list

In [96]:
#looping through rows in job description
counter = 0
for id in jobs_20['job_description_mod']:
    skills_ex = skill_extractor.annotate(id)
    counter += 1
    print(counter)
    
#skill_extractor.describe(skills_ex)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238

IndexError: list index out of range

In [120]:
jobs_20['job_description'][30][530:545]

'es. We’ve serve'

In [35]:
skill_extractor.annotate('es. We’v’e serve')

{'text': 'es we’v’e serve',
 'results': {'full_matches': [],
  'ngram_scored': [{'skill_id': 'KS123MY792VXTQV08MMC',
    'doc_node_id': [0],
    'doc_node_value': 'es',
    'type': 'lowSurf',
    'score': 1,
    'len': 1}]}}

In [27]:
skill_extractor.annotate('You are a Python developer with a’ solid experience in web development and can manage projects. You quickly adapt to new environments and speak flue’ntly Eng´l`i#sh and French')

{'text': 'you are a python developer with a’ solid experience in web development and can manage projects you quickly adapt to new environments and speak flue’ntly eng´l`i#sh and french',
 'results': {'full_matches': [{'skill_id': 'KS122Z36QK3N5097B5JH',
    'doc_node_value': 'web development',
    'score': 1,
    'doc_node_id': [11, 12]}],
  'ngram_scored': [{'skill_id': 'KS125LS6N7WP4S6SFTCK',
    'doc_node_id': [3],
    'doc_node_value': 'python',
    'type': 'fullUni',
    'score': 1,
    'len': 1},
   {'skill_id': 'KS1267F6MSPN366LX7ST',
    'doc_node_id': [15, 16],
    'doc_node_value': 'manage projects',
    'type': 'lowSurf',
    'score': 2,
    'len': 2},
   {'skill_id': 'KS120626HMWCXJWJC7VK',
    'doc_node_id': [19],
    'doc_node_value': 'adapt',
    'type': 'lowSurf',
    'score': 0.5245310068130493,
    'len': 1},
   {'skill_id': 'KS1243976G466GV63ZBY',
    'doc_node_id': [28],
    'doc_node_value': 'french',
    'type': 'lowSurf',
    'score': 1,
    'len': 1}]}}

In [61]:
jobs_20['job_description'][30]

"The Company\n\nBlueLabs is a leading provider of analytics services and technology for government, business, and campaigns. Founded in 2013 by senior members of the Obama for America re-election campaign team, we help our clients optimize their engagements with individual customers, supporters and stakeholders to achieve their goals.\n\nToday, our team counts over 40 data scientists, engineers, and strategists from diverse backgrounds who share a passion for using data to solve the world’s greatest social and analytical challenges. We’ve served more than 400 organizations ranging from political campaigns to advocacy groups, unions, government agencies, and international groups, as well as companies in the automotive, travel, consumer packaged goods, entertainment, healthcare, media, telecom, and other industries. Along the way, we’ve developed some of the most innovative tools available in analytics, media optimization, reporting, and influencer outreach.\n\nData Analyst\n\nData Analysts are instrumental members of BlueLabs Data Science and engagement teams. They gain exposure to all parts of our process, from collecting and organizing data, to analyzing trends and predicting outcomes, and working with clients to understand how these insights can be used to improve program efficiency. Data Analysts are able to work both as part of a team and independently, completing projects in a fast-paced environment, error-free, and on short deadlines. You will receive strong mentorship from senior members of the BlueLabs Data Science and Engagement teams, and also be given a chance to complete projects independently. BlueLabs Analysts have the opportunity to develop into the Data Science or Engagement tracks within BlueLabs.\n\nWhat you'll do:\nAnalyzes data, as well as contributes to the design, implementation, and delivery of analytics products and services.\nBuilds predictive models, tools, and data visualizations.\nChecks data and modeling results for quality and cleans, transforms, aggregates, and reports on data as needed.\nStrives to support team excellence by documenting processes and evangelizing new approaches\nPreferred Experience & Background\nAn undergraduate degree in a quantitative field or equivalent work experience.\nConceptual understanding of foundations of statistics and modeling (distributions, parameter estimation, confidence intervals and tests, etc.).\nProficient understanding of a statistical programming language such as R, Python, or Julia.\nThe ability to effectively communicate technical concepts to a non-technical audience, both in writing and verbally\nThe ability to manipulate data with SQL.\nExperience building predictive models using regression and machine learning techniques.\nKnowledge of experimental design and causal inference experience with GIS.\nExperience creating informative and engaging data visualizations using industry leading tools.\nThe ability to create user interfaces for new products using frameworks such as Shiny or Django.\nThis position is available in DC, NY, & LA\n\nAt BlueLabs, we celebrate, support and thrive on differences. Not only do they benefit our services, products, and community, but most importantly, they are to the benefit of our team. Qualified people of all races, ethnicities, ages, sex, genders, sexual orientations, national origins, gender identities, marital status, religions, veterans statuses, and disabilities are strongly encouraged to apply. As an equal opportunity workplace and an affirmative action employer, BlueLabs is committed to creating an inclusive environment for all employees."

In [50]:
jobs_20['job_description'] = jobs_20['job_description'].astype('string')

In [51]:
jobs_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6162 entries, 0 to 6161
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   job_title            6162 non-null   object
 1   salary_estimate      6162 non-null   object
 2   job_description      6162 non-null   string
 3   company_name         6161 non-null   object
 4   location             6162 non-null   object
 5   industry             6162 non-null   object
 6   job_description_mod  6162 non-null   object
dtypes: object(6), string(1)
memory usage: 337.1+ KB

In [ ]:
# Extracting values for 'doc_node_value' key
doc_node_values = [item['doc_node_value'] for item in annotations['results']['full_matches']]   # item returns a list of tuples with the key, value pairs
doc_node_values.extend([item['doc_node_value'] for item in annotations['results']['ngram_scored']]) # extend concatenates a list with another list

print(doc_node_values)