In [65]:
import pandas as pd
import sqlalchemy 
import sql_functions as sf

In [82]:
# load jobs & skill data

schema = 'capstone_datacvpro'

skills = sf.get_dataframe(f' SELECT * FROM {schema}.skills_count_total')

- delete:
    - Data Analysis(3), Business Intelligence(18)

- limitations:
    - writing can include actual writing skills or eg. writing code

In [83]:
skills.head(20)

,skill,skill_clean,type,count_20,frequency_%_20,count_current,frequency_%_current
0,SQL (Programming Language),sql,Hard Skill,1389,61.65,18351,57.31
1,Communications,communication,Soft Skill,1154,51.22,16024,50.04
2,Data Analysis,data analysis,Hard Skill,717,31.82,13207,41.24
3,Python (Programming Language),python,Hard Skill,637,28.27,9553,29.83
4,Computer Science,computer science,Hard Skill,622,27.61,8160,25.48
5,Tableau (Business Intelligence Software),tableau,Hard Skill,620,27.52,10113,31.58
6,Statistics,statistics,Hard Skill,563,24.99,8234,25.71
7,Research,research,Soft Skill,559,24.81,9400,29.35
8,Dashboard,dashboard,Hard Skill,533,23.66,9736,30.40
9,Visualization,visualization,Hard Skill,517,22.95,11400,35.60
10,Writing,writing,Soft Skill,452,20.06,4782,14.93
11,Programming,programming,Hard Skill,439,19.49,4996,15.60
12,Presentations,presentation,Soft Skill,439,19.49,7852,24.52
13,Data Quality,data quality,Hard Skill,411,18.24,5283,16.50
14,SAS (Software),sas,Hard Skill,411,18.24,4991,15.59
15,Finance,finance,Hard Skill,403,17.89,6532,20.40
16,Data Management,data management,Hard Skill,400,17.75,5019,15.67
17,Leadership,leadership,Soft Skill,388,17.22,7871,24.58
18,Business Intelligence,business intelligence,Hard Skill,342,15.18,5950,18.58
19,Analytical Skills,analytical skills,Soft Skill,327,14.51,3700,11.55

In [84]:
# drop Data Analysis, Business Intelligence

skills.drop([2,18], inplace=True)
skills = skills.reset_index(drop=True)

In [87]:
# sort by frequency current & limit to Top 20

skills = skills.sort_values('frequency_%_current', ascending=False).head(50).reset_index(drop=True)

In [89]:
skills

,skill,skill_clean,type,count_20,frequency_%_20,count_current,frequency_%_current
0,SQL (Programming Language),sql,Hard Skill,1389,61.65,18351,57.31
1,Communications,communication,Soft Skill,1154,51.22,16024,50.04
2,Visualization,visualization,Hard Skill,517,22.95,11400,35.60
3,Tableau (Business Intelligence Software),tableau,Hard Skill,620,27.52,10113,31.58
4,Dashboard,dashboard,Hard Skill,533,23.66,9736,30.40
5,Python (Programming Language),python,Hard Skill,637,28.27,9553,29.83
6,Research,research,Soft Skill,559,24.81,9400,29.35
7,Statistics,statistics,Hard Skill,563,24.99,8234,25.71
8,Computer Science,computer science,Hard Skill,622,27.61,8160,25.48
9,Leadership,leadership,Soft Skill,388,17.22,7871,24.58
10,Presentations,presentation,Soft Skill,439,19.49,7852,24.52
11,Power BI,power bi,Hard Skill,180,7.99,6616,20.66
12,Finance,finance,Hard Skill,403,17.89,6532,20.40
13,Planning,planning,Soft Skill,287,12.74,6107,19.07
14,Data Science,data science,Hard Skill,251,11.14,5423,16.94
15,Data Quality,data quality,Hard Skill,411,18.24,5283,16.50
16,Data Management,data management,Hard Skill,400,17.75,5019,15.67
17,Programming,programming,Hard Skill,439,19.49,4996,15.60
18,SAS (Software),sas,Hard Skill,411,18.24,4991,15.59
19,Economics,economics,Hard Skill,203,9.01,4851,15.15
20,Writing,writing,Soft Skill,452,20.06,4782,14.93
21,Sales,sales,Soft Skill,272,12.07,4709,14.71
22,Git (Version Control System),git,Hard Skill,298,13.23,4695,14.66
23,Innovation,innovation,Soft Skill,201,8.92,4612,14.40
24,Collaboration,collaboration,Soft Skill,245,10.87,4542,14.18
25,Integration,integration,Soft Skill,253,11.23,4253,13.28
26,Analytical Skills,analytical skills,Soft Skill,327,14.51,3700,11.55
27,Automation,automation,Hard Skill,214,9.50,3511,10.96
28,Business Process,business process,Hard Skill,213,9.45,3415,10.66
29,Project Management,project management,Hard Skill,300,13.32,3350,10.46
30,Perspective (Graphical),perspective,Hard Skill,132,5.86,3310,10.34
31,Scale (Map),scale,Hard Skill,179,7.94,3281,10.25
32,Transformation (Genetics),transformation,Hard Skill,196,8.70,3236,10.11
33,Data Mining,data mining,Hard Skill,257,11.41,3188,9.96
34,Data Modeling,data modeling,Hard Skill,168,7.46,3027,9.45
35,Data Collection,data collection,Hard Skill,282,12.52,3011,9.40
36,Tracking (Commercial Airline Flight),tracking,Hard Skill,205,9.10,3004,9.38
37,Consulting,consulting,Soft Skill,227,10.08,2998,9.36
38,Microsoft Office,microsoft office,Soft Skill,205,9.10,2918,9.11
39,Information Technology,information technology,Soft Skill,190,8.43,2866,8.95
40,Decision Making,decision making,Soft Skill,155,6.88,2747,8.58
41,Problem Solving,problem solving,Soft Skill,232,10.30,2690,8.40
42,Information Systems,information systems,Hard Skill,227,10.08,2688,8.39
43,Data Governance,data governance,Hard Skill,172,7.63,2498,7.80
44,Microsoft Excel,microsoft excel,Soft Skill,139,6.17,2300,7.18
45,R (Programming Language),R,Hard Skill,158,7.01,2245,7.01
46,Machine Learning,machine learning,Hard Skill,180,7.99,2192,6.85
47,Supervision,supervision,Soft Skill,159,7.06,2194,6.85
48,Business Intelligence Tools,business intelligence tools,Hard Skill,76,3.37,2149,6.71
49,Accounting,accounting,Hard Skill,189,8.39,2146,6.70

In [75]:
# remove everything in () so skills can be found in description

# split at ( and save in new column
skills['skill'] = skills['skill'].str.split('(').str[0]
skills.head()

,skill,skill_clean,type,count_20,frequency_%_20,count_current,frequency_%_current
0,SQL,sql,Hard Skill,1389,61.65,18351,57.31
1,Communications,communication,Soft Skill,1154,51.22,16024,50.04
2,Visualization,visualization,Hard Skill,517,22.95,11400,35.60
3,Tableau,tableau,Hard Skill,620,27.52,10113,31.58
4,Dashboard,dashboard,Hard Skill,533,23.66,9736,30.40

In [76]:
# load to database

from dotenv import load_dotenv
load_dotenv()

# write dataset into database

# Import get_engine from sql_functions.py. You will need to restart your kernel and rerun at this point since we changed the module since we first imported it.
from sql_functions import get_engine
# create a variable called engine using the get_engine function
engine = get_engine()

import psycopg2

table_name = 'skills_list_final'
schema = 'capstone_datacvpro'

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        skills.to_sql(name=table_name, # Name of SQL table variable
                        con=engine, # Engine or connection
                        schema=schema, # your class schema variable
                        if_exists='replace', # Drop the table before inserting new values 
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None
else:
    print('No engine')

The skills_list_final table was imported successfully.